<!DOCTYPE html>
<html>

<head>
	<title>Dropdown menu</title>
	<meta charset="UTF-8" />
</head>

<body>
	<div id="app">
		
		<div class="menu">
			<div class="menu__main">
				<div class="main_item main_item--current main_item--home">
					<a class="main_item__link" href="#">Home</a>
				</div><div class="main_item main_item--motors">
					<a class="main_item__link" href="#">Motors</a>
				</div><div class="main_item main_item--fashion">
					<a class="main_item__link" href="#">Fashion</a>
				</div><div class="main_item main_item--electronics">
					<a class="main_item__link" href="#">Electronics</a>
				</div><div class="main_item main_item--toys">
					<a class="main_item__link" href="#">Toys</a>
				</div><div class="main_item main_item--motors">
					<a class="main_item__link" href="#">Motors</a>
				</div><div class="main_item main_item--fashion">
					<a class="main_item__link" href="#">Fashion</a>
				</div><div class="main_item main_item--electronics">
					<a class="main_item__link" href="#">Electronics</a>
				</div>
			</div>
			<div class="menu__sub">
				<div class="menu__sub__categories">
					<div class="menu__sub__categories__top menu__sub__categories__category">
						<h3 class="menu__sub__categories__header">
							Top Categories
						</h3>
						<ul class="menu__sub__categories__items menu__sub__categories__items--top">
						</ul>
					</div>
					<div class="menu__sub__categories__additional menu__sub__categories__category">
						<h3 class="menu__sub__categories__header">
							Additional Categories
						</h3>
						<ul class="menu__sub__categories__items menu__sub__categories__items--additional">
						</ul>
					</div>
				</div>
				<div class="menu__sub__visual">
					<img class="menu__sub__visual__img" src="https://www.educative.io/udata/1m5lkL7p9Q0/dog.jpeg" />
				</div>
			</div>
		</div>

	<script src="src/index.js">
	</script>
</body>

</html>